<%- include ("header") -%>
<form class="blogPost" action="/" method="post">
    <label for="postTitle">Title</label>
    <input type="text" id="postTitle" name="postTitle">
    <label for="postContent">Post</label>
    <textarea id="postContent" name="postContent"></textarea>
    <button type="submit" class="btn">Publish</button>
</form>
<%- include ("footer") -%>