<%- include ("partials/header") -%>
<form class="blogPost" action="/compose" method="post">
    <label for="postTitle">Title</label>
    <input type="text" id="postTitle" name="postTitle">
    <label for="postContent">Post</label>
    <textarea id="postContent" name="postContent" rows="7"></textarea>
    <button type="submit" class="btn">Publish</button>
</form>
<%- include ("partials/footer") -%>