<%- include("partials/header") -%>

<% posts.forEach(function(post) { %>
    <div class="post">
        <h3> <%= post.postTitle %> </h3>
        <div class="postContent">
            <p> <%= post.postContent %> </p>
            <a href="/posts">Continue reading</a>
        </div>
    </div>
<% }); %>

<div class="btn composeBtn">
    <a href="/compose">Compose +</a>
</div>
<%- include("partials/footer") -%>