<%- include ("header") -%>
<% for (let i = 0; i<posts.length; i++) { %>
    <div class="post">
        <h2> <%= posts[i].postTitle %> </h2>
        <p> <%= posts[i].postContent %> </p>
    </div>
<% }; %>
<%- include ("footer") -%>