@font-face {
    font-family: 'SansSerifFLF';
    src: url(/fonts/SansSerifFLF.otf);
}

html {
    min-height: 100%;
}

body{
    margin: 0px;
    font-family: 'SansSerifFLF';
}

h2 {
    font-size: 30px;
    font-weight: bolder;
}

h3 {
    font-size: 25px;
}

p {
    font-size: 20px;
}

.navigation__container {
    background-color: rgb(241, 204, 192);
    display: flex;
    justify-content: space-between;
    padding: 10px 15%;
    text-transform: uppercase;
    min-height: 50px;
}

.title {
    color: black;
    font-size: 25px;
    letter-spacing: 2px;
}

.navigation__links {
    margin-top: 22px;
}

.navigation__link {
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    margin: 12px;
}

.navigation__link:hover {
    color:cornflowerblue;
}

.content__container {
    margin: 30px 15%;
    min-height: 100vh;
}

.blogPost {
    display: flex;
    flex-direction: column;
}

.postLink {
    color: cornflowerblue;
    text-decoration: none;
}

.btn {
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgba(65, 65, 65, 0.3);
    background-color: rgb(241, 204, 192);
    cursor: pointer;
    margin-top: 20px;
    max-width: fit-content;
    padding: 5px 10px;
    text-align: center;
    text-transform: uppercase;
}

.btn:hover {
    transform: scale(106%);
}

.composeBtn {
    margin: 10px auto;
}

.composeBtn a {
    color: black;
    text-decoration: none;
}

label {
    font-size: 20px;
}

#postTitle {
    margin-top: 5px;
    margin-bottom: 15px;
}

#postContent {
    margin-top: 5px;
}

.footer__container {
    align-items: flex-end;
    background-color: rgb(241, 204, 192);
    bottom: 0px;
    display: flex;
    justify-content: center;
    opacity: 0.7;
    position: sticky;
    width: 100%;
}

.footer__container p{
    color: black;
    letter-spacing: 1px;
    text-transform: uppercase;
}